body {
    font-size: 14px;
    background-color: #f4ecec !important;
}

a {
	cursor: pointer;
}

.content-wrapper {
    margin: 10px;
    padding: 5px;
}

.add-new-item {
    display: none;
}

.add-new-category {
    display: none;
}

.alert {
    display: none;
}

input {
    margin-bottom: 3px;
}

.input-error {
    color: red;
    display: none;
}

.modal {
    background-color: rgba(2, 22, 13, 0.82)
}

.handle-vip{
    display: none;
}

.unauthorized {
	pointer-events: none;
	/*opacity: .2;*/
	-webkit-filter: grayscale(100%);
	opacity: .4;
}

.unauthorized::before {
	color: black;
	font-size: 21px;
	margin-top: 5px;
	content: 'No Permission';
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
	height: 50px;
}
