body {
    font-size: 14px;
    background-color: #f4ecec !important;
		color: #00496a;
}

.title {
	font-weight: 700;
}

.title-light {
	font-weight: 300;
}

.admin-header {
	width: 100%;
	padding: 20px;
	top: 0;
	z-index: 999;
	background-color: rgba(255, 255, 255, 0.95);
	position: fixed;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}

.admin-header .logout-btn {
	position: absolute;
	top: 14px;
	right: 11px;
}

.admin-header * {
	display: inline;
}

a {
	cursor: pointer;
}

.content-wrapper {
    margin: 120px;
    padding: 5px;
		top: 50px;
}

.add-new-item {
    display: none;
}

.add-new-category {
    display: none;
}

.alert {
    display: none;
}

input {
    margin-bottom: 3px;
}

.input-error {
    color: red;
    display: none;
}

.modal {
    background-color: rgba(2, 22, 13, 0.82)
}

.handle-vip{
    display: none;
}

.unauthorized {
	pointer-events: none;
	/*opacity: .2;*/
	-webkit-filter: grayscale(100%);
	opacity: .4;
}

.unauthorized::before {
	color: black;
	font-size: 21px;
	margin-top: 5px;
	content: 'No Permission';
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
	height: 50px;
}

.edit-item {
    display: none;
}

.edit-category {
    display: none;
}

.overview-wrapper{
    display: none;
}

.total-income{
        text-align: end;
}

.overview-text-line1{
        text-align: start;
}

.overview-text-line2{
        text-align: start;
        margin-top: -10px;
}